@media screen and (max-width: 48495px) {

    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 200px);
        gap: 20px;
    }

    section{
        background-color: rosybrown;
    }

    div :nth-child(1){
        grid-area: 1/1/2/2;
    }
    div :nth-child(2){
        grid-area: 2/1/3/2;
    }
    div :nth-child(3){
        grid-area: 3/1/4/2;
    }
    div :nth-child(4){
        grid-area: 4/1/5/2;
    }
    div :nth-child(5){
        grid-area: 5/1/6/2;
    }
    div :nth-child(6){
        grid-area: 6/1/7/2;
    }
    div :nth-child(7){
        grid-area: 7/1/8/2;
    }
    div :nth-child(8){
        grid-area: 8/1/9/2;
    }

    nav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        /* flex-direction: row-reverse; */
        column-gap: 20px;
        background-color: cyan;
        height: 100px;
        align-items: center;
    }

    ul li:nth-of-type(even){
        /* align-self: flex-start;  */
    }
}
  


@media screen and (min-width: 500px) {

    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 200px);
        gap: 20px;
    }

    section{
        background-color: red;
    }

    div :nth-child(1){
        grid-area:1/1/2/2;
    }
    div :nth-child(2){
        grid-area:1/2/2/3;
    }
    div :nth-child(3){
        grid-area: 2/1/3/2;
    }
    div :nth-child(4){
        grid-area: 2/2/3/3;
    }
    div :nth-child(5){
        grid-area: 3/1/4/2;
    }
    div :nth-child(6){
        grid-area: 3/2/4/3;
    }
    div :nth-child(7){
        grid-area: 4/1/5/2;
    }
    div :nth-child(8){
        grid-area: 4/2/5/3;
    }

    nav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        /* flex-direction: row-reverse; */
        column-gap: 20px;
        background-color: cyan;
        height: 100px;
        align-items: center;
    }

    ul li:nth-of-type(even){
        /* align-self: flex-start;  */
    }
}
   


@media screen and (min-width: 920px) {

    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 200px);
        gap: 20px;
    }

    section{
        background-color: purple;
    }

    div :nth-child(1){
        grid-area:1/1/3/3;
    }
    div :nth-child(2){
        grid-area:3/1/4/2;
    }
    div :nth-child(3){
        grid-area: 3/2/4/3;
    }
    div :nth-child(4){
        grid-area: 3/3/5/4;
    }
    div :nth-child(5){
        grid-area: 4/1/5/3;
    }
    div :nth-child(6){
        grid-area: 5/1/6/4;
    }
    div :nth-child(7){
        grid-area: 2/3/3/4;
    }
    div :nth-child(8){
        grid-area: 1/3/2/4;
    }

    nav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        /* flex-direction: row-reverse; */
        column-gap: 20px;
        background-color: cyan;
        height: 100px;
        align-items: center;
    }

    ul li:nth-of-type(even){
        /* align-self: flex-start;  */
    }
}